# dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.*

# next.js
.next/
**/.next/
/out/
**/out/
**/build/

# env files
.env
.env.*
**/.env
**/.env.*

# misc
.DS_Store
*.pem
*.tsbuildinfo
**/next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# claude local settings
.claude/settings.local.json
